{{template "base" .}}
{{define "context" }}

<div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Pod Name</th>
          <th>Age</th>
          <th>Restart Count</th>
          <th>Image Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

            {{range .}}
        <tr>
          <td><a href="/GetLog?podName={{.PodName}}">{{ .PodName }}</a></td>
          <td>{{ .Age }}</td>          
          <td>{{ .RestartCount }}</td>
          <td>{{ .ImageName }}</td>
          <td>{{ .Status }}</td>
          <td><a href="/DeletePod?podName={{.PodName}}">Restart</a> | <a href="/UpdateImage?imageName={{.ImageName}}">Update</a> </td>
        </tr>
        {{end}}

        </tbody>

      </table>
    </div>
    <!-- /.table-responsive -->
  </div>

    {{end}}
